

     h1, h2, h3 {
        font-family: 'Anek Devanagari', sans-serif;
        color: #4CAF50;
    }
    /* .st-emotion-cache-ocqkz7 {
        display: flex        ;
        flex-wrap: wrap;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -webkit-box-align: stretch;
        gap: 1rem;
        margin-left: -23px;
        } */

    .st-emotion-cache-yw8pof {
        width: 100% !important;
        padding: 6rem 1rem 10rem !important;  
        max-width: 0rem !important;
    }
    .st-emotion-cache-110xngy {
        border-bottom: 1px solid rgba(44, 62, 80, 0.1);
        border-right: 1px solid #ddd;
        vertical-align: middle;
        padding: 0.25rem 0.375rem;
        font-weight: 400;
        text-align: inherit;
        /* background-color: #ddd; */
    }
 